/* Write your custom css code here */
@font-face {
  font-family: 'IcoMoon';
  src: url("../../../../media/jui/fonts/IcoMoon.eot");
  src: url("../../../../media/jui/fonts/IcoMoon.eot?#iefix") format("embedded-opentype"), url("../../../../media/jui/fonts/IcoMoon.woff") format("woff"), url("../../../../media/jui/fonts/IcoMoon.ttf") format("truetype"), url("../../../../media/jui/fonts/IcoMoon.svg#IcoMoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* src: url('../../../../media/jui/fonts/IcoMoon.eot') */
}

.newsflash--custom {
  color: #fff;
}

.newsflash--custom .newsflash-item {
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

.newsflash--custom .newsflash-title {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: inherit;
}

.newsflash--custom p {
  font-size: 14px;
  color: inherit;
}

.newsflash--custom h2 {
  margin: 0 0 10px 0;
  padding: 0;
  color: inherit;
}

.newsflash--custom a.readmore.btn {
  margin-top: 10px;
  padding: 4px 12px;
  color: #333;
  background-color: #E6E6E6;
}

.newsflash--custom a.readmore.btn::before {
  font-family: 'IcoMoon';
  content: '\e006';
  font-size: normal;
  font-weight: normal;
  line-height: 1;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.joomla--custom h2 {
  font-size: 22px;
}

a.btn-joomla {
  padding: 12px 20px;
  color: #fff !important;
  font-size: 18px;
  border-radius: 999px;
  border: none;
}

.btn-joomla.btn-joomla--primary {
  background-color: #006dcc;
}

.btn-joomla.btn-joomla--primary:hover {
  background-color: #04c;
}

.btn-joomla.btn-joomla--secondary {
  background-color: #ee5f5b;
}

.btn-joomla.btn-joomla--secondary:hover {
  background-color: #bd362f;
}

.an-joomla ul.category-module li {
  list-style: none;
  padding: 0;
}

.an-joomla h2 {
  font-size: 22px;
  margin: 0 0 10px 0;
}

.an-joomla ul {
  margin: 0;
  padding: 0;
}

.an-joomla h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  border-bottom: 1px dotted;
}

.an-joomla .mod-articles-category-introtext {
  margin-bottom: 0px;
}

.an-joomla .moduletable {
  margin-bottom: 10px;
}

.an-joomla mod-articles-category-group-content {
  margin-bottom: 10px;
}

picture.ja-event img {
  width: 530px;
  height: auto;
}

.counter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.counter-block .counter-item {
  margin: 0 0  10px 15px;
}

.counter-block .counter-title, .counter-block .counter-desc {
  color: inherit;
}

.counter-block .counter-title {
  font-size: 60px;
  top: 20px;
  position: relative;
}

.counter-container a {
  color: inherit;
}

.counter-container .counter-block {
  height: 265px;
  position: relative;
  color: #fff;
}

.counter-container .numbers-text {
  display: inline-block;
  bottom: 0;
  font-size: 18px;
  font-weight: normal;
  left: 20px;
  line-height: 24px;
  position: absolute;
  text-transform: uppercase;
}

.counter-container .numbers-text span {
  font-size: 60px;
}

.counter-container .numbers-text sup {
  position: absolute;
  font-size: 28px;
  top: 10px;
}

.counter-container
.counter-title::after {
  content: "+";
  font-size: 28px;
  margin-left: 5px;
  top: -20px;
  position: relative;
}

.counter-item .counter-desc {
  text-transform: uppercase;
  font-size: 18px;
}

/* new */
.top-menu {
  background-color: #152845;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#192c4a), to(#10223e));
  background-image: linear-gradient(to bottom, #192c4a, #10223e);
  background-repeat: repeat-x;
  border-color: #0b172a;
}

.top-menu span.nav-header {
  padding: 9px 15px !important;
  border-right: 1px solid #1e3b63;
  border-bottom: 1px solid rgba(234, 234, 238, 0.1) !important;
}

.top-menu span.nav-header:first-child {
  border-left: 1px solid #1e3b63;
}

.top-menu span.nav-header:hover {
  background-color: rgba(19, 73, 118, 0.5) !important;
  -webkit-box-shadow: inset 3px 0 2px -2px rgba(0, 0, 0, 0.25), inset -3px 0 2px -2px rgba(0, 0, 0, 0.25), 0 1px 0 #112f50;
          box-shadow: inset 3px 0 2px -2px rgba(0, 0, 0, 0.25), inset -3px 0 2px -2px rgba(0, 0, 0, 0.25), 0 1px 0 #112f50;
  cursor: pointer;
}

.top-menu li:first-of-type > span.nav-header {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0 0 #1e3b63 inset, -1px 0 0 rgba(0, 0, 0, 0.4) inset;
          box-shadow: 1px 0 0 #1e3b63 inset, -1px 0 0 rgba(0, 0, 0, 0.4) inset;
}

.top-menu span.heading-data-title {
  color: #fff;
  font-weight: normal;
}

.top-menu .navbar {
  min-height: 40px;
}

.top-menu button.navbar-toggle {
  padding: 20px !important;
}

.top-menu .navbar-header {
  background: #1e3b63;
}

.logo-container {
  background-color: #1a3867;
  background-image: radial-gradient(circle, #17568c, #1a3867);
  background-repeat: no-repeat;
}

.top-search #mod-search-searchword {
  height: 50px;
}

.submenu-container {
  color: #fff;
  background-color: #1b63a2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.03)), to(rgba(255, 255, 255, 0.05)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.05));
  border-top: 0 none;
  border-bottom: 0 none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 #2f89d3 inset, 0 -1px 0 #368ad8 inset;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 #2f89d3 inset, 0 -1px 0 #368ad8 inset;
}

.submenu .navbar {
  min-height: 45px;
}

.submenu a.clearfix {
  padding: 12px 13px !important;
}

.submenu ul.navbar-nav li a {
  color: inherit !important;
}

.submenu ul.navbar-nav li a:hover, .submenu ul.navbar-nav li a:active, .submenu ul.navbar-nav li a:focus {
  background-color: rgba(19, 42, 76, 0.5) !important;
  -webkit-box-shadow: inset 3px 0 2px -2px rgba(0, 0, 0, 0.15), inset -3px 0 2px -2px rgba(0, 0, 0, 0.15) !important;
          box-shadow: inset 3px 0 2px -2px rgba(0, 0, 0, 0.15), inset -3px 0 2px -2px rgba(0, 0, 0, 0.15) !important;
}

.submenu ul.navbar-nav li a span.menutitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.submenu ul.navbar-nav > li.active > a.current {
  background-color: rgba(19, 42, 76, 0.5) !important;
  -webkit-box-shadow: inset 3px 0 2px -2px rgba(0, 0, 0, 0.15), inset -3px 0 2px -2px rgba(0, 0, 0, 0.15) !important;
          box-shadow: inset 3px 0 2px -2px rgba(0, 0, 0, 0.15), inset -3px 0 2px -2px rgba(0, 0, 0, 0.15) !important;
}

/* new */
.top-header {
  color: initial;
  border-bottom-color: transparent !important;
}

.top-header .search #mod-search-searchword {
  height: 30px;
}

.top-header span.nav-header:hover {
  background-color: rgba(19, 73, 118, 0.5) !important;
  -webkit-transition: .3s all !important;
  transition: .3s all !important;
  border-bottom-color: transparent !important;
}

.top-header span.nav-header {
  padding: 9px 15px !important;
  -webkit-transition: .3s all !important;
  transition: .3s all !important;
  border-right: 1px solid #1e3b63;
}

.joomla-nav span.nav-header:first-child {
  border-left: 1px solid #1e3b63;
}

.joomla-nav span.nav-header:hover {
  cursor: pointer;
}

.joomla-nav .navbar {
  min-height: 40px;
}

joomla-logo {
  background: radial-gradient(circle, #17568c, #1a3867);
}

@media (min-width: 768px) {
  nav.navbar.sunfw-menu-head ul.navbar-nav {
    float: left !important;
  }
  .top-header {
    background-color: #10223E;
  }
  .top-header span.heading-data-title {
    color: white;
    font-weight: normal;
  }
  .header-container {
    background-color: #152845;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#192c4a), to(#10223e));
    background-image: linear-gradient(to bottom, #192c4a, #10223e);
    background-repeat: repeat-x;
    border-color: #0b172a;
  }
  .top-search {
    float: right;
  }
  .top-search #mod-search-searchword {
    height: 30px;
  }
}
/*# sourceMappingURL=custom.css.map */