.sectitle {
  display: inline-block;

  p.sectitle__sub {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: -3px;
  }

  h3.sectitle__title {
    font-size: 36px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal !important;
  }

  p.sectitle__sub,
  h3.sectitle__title {
    color: $title-color-dark;
  }

  &--center {
    text-align: center;
    &::after {
      margin: 0 auto;
    }
  }

  &--lg {
    h3.sectitle__title span {
      font-weight: bold ;
      color: $white ;
    }

    &::after {
      margin-top: 3px !important;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    background-image: radial-gradient(circle at 0 0, #fa9348, #f76b1c);
    margin-top: 15px;
  }
}

.maler {
  h3.maler__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}

.maler-top-menu {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
//   opacity: .5;
  line-height: 40px;
  color: rgba($light,0.5) ;


  p {
    margin-bottom: 0;
  }
}

.top-menu-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  li {
    display: inline-block;
    padding: 0;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
  span {
    padding:  0 !important;
    color: inherit !important;
  }
}


.top-menu-left {

  &__icon {
    i {
      font-size: 14px;
      color: inherit;
      margin-right: 10px;

    }
  }

  &__desc p{
    color: inherit !important;
  }
}

p {
  color: #5e6e76;
}



@media screen and (min-width:768px) {
  .header-menu {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }
}

.maler-left {
  overflow: hidden;
  .maler__image {
    float: left;
    margin-right: 20px;
  }

  .maler__content {
    overflow: hidden;
  }

  .maler__desc {
    margin-bottom: 0;
  }
}

.maler--center {
  text-align: center;
}

.maler.maler--center {
  padding: 33px 37px;
  transition: .3s all;

  .maler__image {
    margin-bottom: 30px;
  }

  h3.maler__title {
    margin-bottom : 4px;
  }

  i {
    transition: .3s all;
  }
  
  &:hover {
    transition: .3s all;

    transform: translateY(-10px);
    background-color: #ffffff;
    box-shadow: 0 4px 19px 0 #dbe1e7;


    i {
      color: $brand-primary;
      transition: .3s all;
      transform: scale(1.3);
    }
  }
}


.maler.maler--count {
  padding: 30px 20px;
  transition: .3s all !important;
  position: relative;

  .maler__number {
    color: $brand-success;
    font-size: 36px;
    margin-bottom: 5px;
  }

  h3.maler__title {
    margin-bottom: 0;
  }

  .maler__desc {
    margin-bottom:  0;
  }

  .maler__content {
    position: relative;
    z-index: 1;
  }

  &.overlay:before {
    background-image: radial-gradient(circle at 0 0,lighten($brand-success, 10%),$brand-success);
    z-index: 0;
    transition: .3s all;


  }

  &:hover {
    color: $light;
    transition: .3s all;

    transform: translateY(-10px);
    background-color: #ffffff;
    box-shadow: 0 4px 19px 0 #dbe1e7;



    .maler__number,
    h3.maler__title,
    .maler__desc {
      color: inherit;
    }
  }
}

.maler.maler--testimonial {
  text-align: center;
  padding: 0 30px 30px 30px;
  .maler__image picture {
    margin-top: -15px;
    margin-bottom: 15px;
  } 

  p.maler__desc {
    margin-bottom: 0;
    color: #5e6b76;
  }

  .maler__star {
    i {
      color: lighten($brand-primary, 20%);
      padding: 0 1px;
    }

    i.active {
      color: $brand-primary;
    }
  }

  h3.maler__title {
    font-size: 14px;
    margin-bottom: 0;
  }
   p.maler__sub {
     margin-bottom: 4px;
  }

  .maler__icon {
    margin: 25px 0 20px 0;
  }
}

.maler.maler--feature {
  padding: 20px 30px;
  position:relative;

  .maler__image {
    margin: 40px 0 60px 0;
  }

  a.btn {
    text-transform: lowercase !important;
    color: $brand-primary !important;

    &:hover,
    &:focus {
      color: $title-color-dark !important;
      box-shadow: initial !important; 
    }
  }


  .maler__desc {
    margin-bottom: 30px;
  }

  .maler__link {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .maler__image,
  .maler__content {
    position: relative;
    z-index: 2;
  }

  &.overlay:before {
//     position: relative;
//     z-index: 1;
    background-image: radial-gradient(circle at 0 0,lighten($brand-primary, 10%),$brand-primary);
  }


  &:hover {
    color: $light;

    i,p,a {
      color: inherit !important;
    }
  }

}

.maler.maler--isotope {
  position: relative;
  overflow: hidden;
  z-index: 0;
  right: 15px;
  .maler__content {
    // position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px 10px 10px;
    transform: translateY(100%);
    transition: .3s transform;
    z-index: 2;
  }

  &:hover {
    .maler__content {
      transform: translateY(0);
			transition: .3s transform;
			z-index: 2;
		}
  }
  
}

.isotope-grid {
  a[data-action="tab"] {
    // padding: 0 30px 0 0;
    padding: 0;
    margin-right: 30px;
    color: $title-color-dark;
    font-weight: normal !important;
  }

  a[data-active="true"] {
    color: $brand-primary;
//     font-weight: bold !important;
//     padding: 0 10px;
  }

  div[data-name="custom html"] {
    padding: 0;
  }
}

.maler.maler--journal {
  a[data-name="Featured Image"] {
    width: 100%;

    img {
      transition: .3s transform;
      max-height: 300px;
      object-fit: cover;
    }

    &:hover {
      img {
        transform: scale(1.4) rotate(10deg);
        transition: .3s transform;
      }
    }
  }

  a[data-name="Title"] {
    color: $title-color-dark;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: normal;

    &:hover {
      color : $brand-primary;
    }
  }

  span[data-name="Author"] {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px !important;

    &:before {
      content: "by ";
    }
  }

  p[data-name="Intro text"] {
    margin-bottom: 20px;
    margin-top: 15px;
  }

  a[data-name="Readmore"] {
    font-weight: bold;
    text-transform: uppercase;
  }

  .maler__content {
    padding: 20px;
  }


}

.maler-card {
	background: $white;
	box-shadow: 0 2px 2px 0 #dbe1e7;
}

.section-promo {
  // background-color: rgb(88, 88, 88);
}

.maler-footer {
  // background-color: #253240;
  h4 {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
    margin: 15px 0;
  }

  ul.nav.menu a {
    color: #848e99;
    font-size: 13px;
    padding:  5px 0;
    line-height: 1.7;
  }

  ul.nav.menu li {
    padding: 0;
  }

  p {
    color: rgba($white,0.3);
  }
}


 
form.maler-form {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba($white,0.3);
    transition: .5s all;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
      transition: .5s all;
    }
  }

input {
  background-color: transparent !important;
  border-color: transparent !important;
  color: rgba($white,0.8) !important;
  height: auto;
}

button {
  border-radius: 3px !important;
  text-transform: uppercase;
  @extend .btn-primary;

  &:active {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125)) ;
  }
}

.grid-img {
  margin: 15px;
  max-width: 300px;
  display: inline-block;
  img {
    width: 100%;
  }
}


// .grid-img.lg img{
//   max-width: 570px;
// }

.maler.maler--isotope {
  position: relative;
  overflow: hidden;
    &:hover {
    .maler__content {
      transform: translateY(0);
			transition: .3s transform;
			z-index: 2;
		}
  }
  .maler__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px 10px 10px;
    transform: translateY(100%);
    transition: .3s transform;
    z-index: 2;
  }

  h3.maler__title,
  p.maler__desc {
    color : #fff !important;
    -webkit-transition: ease opacity 300ms 100ms;
    transition: ease opacity 300ms 100ms;
  }

  &.overlay:before {
    background-image: radial-gradient(circle at 0 0,lighten($brand-primary, 10%),$brand-primary);
  }
}

.overlay:before {
  content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
//     -webkit-transition: ease opacity 300ms 100ms;
//     transition: ease opacity 300ms 100ms;
}

.overlay:hover:before {
  opacity: 1;
//   -webkit-transition: ease opacity 300ms 100ms;
//   transition: ease opacity 300ms 100ms;
}

.maler-header #menu_item_menu {
  // background-color: transparent !important;
}

/* .maler-header {

  
  span.nav-header:hover {
    background-color: transparent !important;
  }

  a.clearfix:hover,
  a.clearfix:focus {
    background-color: transparent !important;

  }



} */

.maler-top-menu,
.maler-header {
  position: relative;
  z-index: 1;
}





.maler-promo {

  @media (min-width: 768px) { 
    position: relative;
    margin-top: -190px;
    z-index: 0;
   }


  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    background-image: linear-gradient(rgba(29, 40, 46, 0.8), rgba(29, 40, 46, 0.8)), linear-gradient(to bottom, rgba(4, 3, 8, 0.73), rgba(0, 0, 0, 0));
  }
}

.sunfw-sticky.maler-header {
  background-color: transparent;

  &.sunfw-sticky-open {
    background-color: $dark;
  }
}

@media screen and (min-width: 768px){
  .sunfw-sticky.maler-header {
//     background-color: lighten($dark, 10%);

  &:not(.sunfw-sticky-open){
    background-color: transparent;
    position: relative;
    z-index: 99;
    transition: background-color 0.5s ease-in-out;
  }

    &.sunfw-sticky-open {
      background-color: $dark;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      right: 0;
      z-index: 999999;
    }
  }


  .maler-top-menu.sunfw-sticky {
    background-color: lighten($dark, 10%);

    &.sunfw-sticky-open {
      background-color: $dark;
    }
  }

}

